<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CollegeBusinessObjects.Properties.Settings.CollegeConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=College;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>